In [ ]:
# NumPy and Pandas Assignment
# Complete the following tasks by filling in the code where indicated.
# Ensure your notebook is well-documented with markdown cells explaining your code and result.

import numpy as np
import pandas as pd

# Task 1: NumPy Basics

### Array Creation
#### 1. Create an array of 10 zeros but set the fifth element to 1.

In [38]:

import numpy as np
import pandas as pd
my_array =np.zeros(10)  #creating zero array with 10 elements.
my_array[4]= 1   #set fifth element 1.

### 2. Create a 4x4 matrix with values ranging from 0 to 15.

In [6]:
my_array=np.arange(16).reshape(4,4)   #creating 4x4 matrix with range 0 to 15.

### Array Operations

#### 3. Create two NumPy arrays: Perform element-wise addition, subtraction, multiplication, and division.
#### arr1: array([[41, 30, 10], [ 6, 35, 23], [23,  9, 10]])
#### arr2: array([[4, 29,  2], [5, 13,  3], [24, 16,  7]])

In [36]:
import numpy as np
my_array1 = np.array([[41, 30, 10], [ 6, 35, 23], [23, 9, 10]])  # array1
my_array2 = np.array([[4, 29, 2], [5, 13, 3], [24, 16, 7]])      # array2
addition = my_array1 + my_array2    # add
subtraction = my_array1 - my_array2   # subtraction
division = my_array1/my_array2       # division
multiplication = my_array1*my_array2  # multiply

### Array Slicing
#### 4. Given the array: 
#### arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
#### Extract elements from index 2 to 6.

In [5]:
my_array = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
sliced = my_array[2:7]  #slicing element 2 to 6.

### Using NumPy Methods
#### 5. Convert the array below to a 3Ã—3 NumPy array.
#### array([[15, 18, 20], [15, 30, 8], [25, 30, 60]])
#### Find the mean, sum, and maximum value.

In [4]:
import numpy as np
arr=np.array([[15, 18, 20],
             [15, 30, 8],
             [25, 30, 60]])    # array
mean= round(arr.mean(),)   # calculating mean
sum = arr.sum()           # calculating sum
max = arr.max()           # calculating maximum value

# Task 2: Pandas Basics

### Creating a Pandas Series
#### 1. Create a Pandas Series from the list [10, 20, 30, 40, 50] with index labels 'a', 'b', 'c', 'd', 'e'.

In [17]:
import pandas as pd
data = [10,20,30,40,50]
index = ['a','b','c','d','e']
series = pd.Series(data, index=index)   # creating pandas series

### Reading a CSV File
#### 2. Read a CSV file named "data.csv" into a Pandas DataFrame. The CSV file has the following columns: "Name", "Age", "Salary".

In [5]:
import pandas as pd
df = pd.read_csv('data.csv')  # reading csv file 'data.csv'

### Slicing a DataFrame
#### 3. From the DataFrame created in Exercise 2, select only the first three rows.

In [12]:
df = pd.read_csv('data.csv',nrows=3)  # reading data.csv file and selecting first three rows.

### Manipulating a DataFrame - Adding a Column
#### 4. Add a new column named "Tax" to the DataFrame from Exercise 2. The tax should be calculated as 10% of the "Salary" column.

In [13]:
df = pd.read_csv('data.csv')  
df['Tax'] = df['Salary'] * 0.1  # Adding new column named Tax and calculate the tax 10% of salary.

#### Filter the dataframe by the column "age" whereby the age is above 36 years

In [17]:
df = pd.read_csv('data.csv')
data_filter = df[df['Age']>36]   # data filter with age >36

# Task 3: Data Analysis with Pandas

### Aggregation - Compute Total and Mean Sales
#### 1. Given a dataset of sales transactions, compute the total and mean sales per region.

# Sample Data
sales_data = pd.DataFrame({
    "Region": ["North", "South", "North", "West", "South", "West"],
    "Sales": [1000, 1500, 1200, 1800, 1300, 1700]
})
sales_data.head()

In [22]:
sales_data = pd.DataFrame({
    "Region": ["North", "South", "North", "West", "South", "West"],
    "Sales": [1000, 1500, 1200, 1800, 1300, 1700]
})                                                       # data frame
total_sales = sales_data['Sales'].sum()             # calculating total sales
mean_sales = sales_data['Sales'].mean()             # calculating mean sales

### Merging - Combine Customer and Order Data
#### 2. Merge customers and orders data based on CustomerID.

customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"]
})

orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 2, 4],
    "Amount": [250, 400, 600, 150]
})

In [25]:
customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"]
})

orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 2, 4],
    "Amount": [250, 400, 600, 150]
})
merged_data= pd.merge(customers, orders, on ='CustomerID')   # merging two data based on CustomerID

### Joining - Left Join Employee Data
#### 4. Perform a left join between employees and departments on DeptID.

# NB: No test for this. Just an exercise for you to play around with
employees = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["John", "Jane", "Alice", "Bob"],
    "DeptID": [1, 2, 2, 3]
})

departments = pd.DataFrame({
    "DeptID": [1, 2],
    "DeptName": ["HR", "Finance"]
})

display(employees.head(2), departments.head(2))

In [30]:
employees = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["John", "Jane", "Alice", "Bob"],
    "DeptID": [1, 2, 2, 3]
})

departments = pd.DataFrame({
    "DeptID": [1, 2],
    "DeptName": ["HR", "Finance"]
})
merged_data = pd.merge(employees, departments, on="DeptID",how="left")  # merging two data based on DeptID and on left.

### Pivot Table - Summarize Sales Data
#### 4. Create a pivot table showing total sales for each Region and Product.

sales_pivot_data = pd.DataFrame({
    "Region": ["North", "North", "South", "South", "West", "West"],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [200, 300, 150, 400, 250, 500]
})

sales_pivot_data.head(2)

In [37]:
sales_pivot_data = pd.DataFrame({
    "Region": ["North", "North", "South", "South", "West", "West"],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [200, 300, 150, 400, 250, 500]
})

pivot_table = sales_pivot_data.pivot_table(
    index ="Region",  # rows
    columns= "Product",  # columns
    values= "Sales",   # values
    aggfunc="sum",   # aggregation
    fill_value = 0      #filling missing values with zero.
)